
.Ion__Edit {
    margin-left: auto;
    margin-right: auto;
  }

.Ion__Cancel{
    margin-left: auto;
    margin-right: auto;
}
    
.Ion-Card-Title {
    text-align: center;
}

.Ion-Card-SubTitle{
    text-align: center;
}

.Ion-Card-Content{
    text-align: center;
}

.Ion-Card-Img {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

.Ion_Grid{
    margin-left: auto;
    margin-right: auto;
}

.Ion-Label{
    margin-left: auto;
    margin-right: auto;
}